

body {
    background-color:white;
}

header{
    margin-top: 4vh;
    text-align: center;
    color: slategray;
}

#title{
    font-size: 10vh;
}

#subtitle{
    font-size: 4vh;
}

.container{
    display: flex;
    padding: 1vh;
    flex-direction: row;
    min-height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: lightgrey; 
    border-radius: 0px; 
    margin: 3vh;
}
    .box{
        width: 50vh;
        font-size: 10vh;
        color: white;
        text-align: center;
    }

    .box1{
        background-color: yellowgreen;
        
    }

    .box2{
        background-color: lightseagreen;
    }

    button{
        height: 15vh;
        width: 25vh;
        padding: 5vh;
        border-radius: 7vh;
        color: slategray;
        text-align: center;
        /* margin-left: 95vh; */
        background: rgb(243, 227, 83);
        -ms-transform: translateY(15vh);
         -webkit-transform: translateY(9vh);
         transform: translateY(3vh);
        margin-top: 3vh;
        margin-bottom: 5vh;
        font-size: 5vh;
        
    }

    #view{
        /* all this gives the parametres for the depth of the cube*/
    width:200px;
    height:200px;
    margin:100px;
    perspective:600px; /*this gives depth to the cube */
    }
    #dice{
    width:200px;
    height:200px;
    position:relative;
    transform-style:preserve-3d; /*this shows the 6 faces of the cube, otherwise only a plain square*/
    transition: transform 1s; /*this is the speed the cube rotates*/
    }

    /*
    /*Below the settings for the cube to rotate but now it is controlled from js*/
    /* #btnFront ~ #view>#dice{
    transform:rotateY(360deg) !important;
    /* 5*/
    /* }
    #btnRight ~ #view>#dice{
    transform:rotateY(-90deg) !important; */
        /* 2*/
/* 
    }
    #btnBack ~ #view>#dice{
    transform:rotateY(180deg) !important; */
        /* 3*/

    /* }
    #btnLeft ~ #view>#dice{
    transform:rotateY(90deg) !important; */
        /* 4*/

    /* }
    #btnTop ~ #view>#dice{
    transform:rotateX(-90deg) !important; */
        /* 1*/

    /* }
    #btnBottom ~ #view>#dice{
    transform:rotateX(90deg) !important; */
        /* 6*/

    /* } */ 

    /*Below the style of the cube*/
    .diceFace{
    position:absolute;
    width:200px;
    height:200px;
    text-align:center;
    line-height:200px;
    font-size:45px;
    border:5px solid rgba(0, 0, 0, 0.61);
    border-radius: 2vh;
    }
    #front{
    /* background-color:rgba(0,255,255,0.8); */
    transform:rotateY(0deg) translateZ(100px);
    background-image: url("img/dice5.png");
    background-size: cover; 

    opacity: 0.8;
    filter: alpha(opacity=50);
    }
    #right{
    /* background-color:rgba(0,255,0,0.8); */
    transform:rotateY(90deg) translateZ(100px);
    background-image: url("img/dice2.png");
    opacity: 0.8;
    filter: alpha(opacity=50);
    }
    #back{
    /* background-color:rgba(255,255,0,0.8); */
    transform:rotateY(180deg) translateZ(100px);
    background-image: url("img/dice3.png");
    opacity: 0.8;
    filter: alpha(opacity=50);
    }
    #left{
    /* background-color:rgba(255,0,255,0.8); */
    transform:rotateY(-90deg) translateZ(100px);
    background-image: url("img/dice4.png");
    background-size: cover; 

    opacity: 0.8;
    filter: alpha(opacity=50);
    }
    #top{
    /* background-color:rgba(255,0,0,0.8); */
    transform:rotateX(90deg) translateZ(100px);
    background-image: url("img/dice1.png");
    background-size: cover; 

    opacity: 0.8;
    filter: alpha(opacity=50);
    }
    #bottom{
    /* background-color:rgba(0,0,255,0.8); */
    transform:rotateX(-90deg) translateZ(100px);
    background-image: url("img/dice6.png");
    opacity: 0.8;
    filter: alpha(opacity=50);
    }


    /* below box span and test don't seem to change anything  */
    /* span{
    display:inline-block;
    padding:4px 10px;
    margin:3px;
    background-color:#0aa;
    border:2px inset #dd0
    } */
    
    
    /* #test:checked + #test2{
    display:block;
    width:80px;
    background-color:#0aa;
    } */

    /* below the settings for the click input but not the actions*/
    input[type="radio"]{
    transform:scale(2,2);
    margin:10px;
    }

   
    