

body {
    background-color:#FFE361;
    color: slategray;
  /* margin-top: 4vh; */
    text-align: center;
    padding: 1vh;

}

    .content{
    display: flex;
    flex-wrap: wrap;
   /* justify-content: space-between; */
   align-items: center;
   height: 60vh;
   justify-content: center;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   background-color: white; 
   border-radius: 0px;
   margin-left: 2vh;
   margin-right: 2vh;
   border-radius: 1vh;

   
}

.container{
    padding: 7vh;
}

header{
    margin-top: 4vh;
    text-align: center;
    
}

#title{
    font-size: 10vh;
}

#subtitle{
    font-size: 4vh;
}

#instruc{
    margin-top: 7vh;
    font-size: 3vh; 
}

#turns{
    font-size: 7vh;
    margin-top: 5vh;
}

.div1{
    order:1;
    
}

.div2{
    order:2;
}

.div3{
    order:3;
    
}

.buttons{
    order:4;
    /* padding: 0%; */
    margin-top: 0%;
    padding: 5vh;
    
}


    .box{
    width: 50vh;
    font-size: 7vh;
    color: white;
    text-align: center;
    }


    button{
    height: 10vh;
    width: 25vh;
    border-radius: 1vh;
    color: slategray;
    text-align: center;
    /* background: rgb(243, 227, 83); */
    background: 	#f7af5e ;
    font-size: 4vh;        
    box-shadow: 0 4px #665;  
    }

    button:active{
    box-shadow: 4 4px  #999;
    transform: translateY(4px);
    }

    #view{
        /* all this gives the parametres for the depth of the cube*/
    width:200px;
    height:200px;
    margin:50px;
    perspective:600px; /*this gives depth to the cube */
    }
    #dice{
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d; /*this shows the 6 faces of the cube, otherwise only a plain square*/
    transition: transform 1s; /*this is the speed the cube rotates*/
    }

    /*
    /*Below the settings for the cube to rotate*/
    #btnFront ~ #view>#dice{
    transform:rotateY(360deg) !important;
    /* 5*/
    }
    #btnRight ~ #view>#dice{
    transform:rotateY(-90deg) !important;
        /* 2*/

    }
    #btnBack ~ #view>#dice{
    transform:rotateY(180deg) !important;
        /* 3*/

    }
    #btnLeft ~ #view>#dice{
    transform:rotateY(90deg) !important;
        /* 4*/

    }
    #btnTop ~ #view>#dice{
    transform:rotateX(-90deg) !important;
        /* 1*/

    }
    #btnBottom ~ #view>#dice{
    transform:rotateX(90deg) !important;
        /* 6*/

    }

    /*Below the style of the cube*/
    .diceFace{
    position:absolute;
    height:200px;
    text-align:center;
    line-height:200px;
    font-size:45px;
    border:5px solid rgba(0, 0, 0, 0.61);
    border-radius: 2vh;
    width: 100%;

    }
    #front{
    /* background-color:rgba(0,255,255,0.8); */
    transform:rotateY(0deg) translateZ(100px);
    background-image: url("img/dice5.png");
    background-size: cover; 
    width: 100%;
    opacity: 0.8;
    filter: alpha(opacity=50);
    }
    #right{
    /* background-color:rgba(0,255,0,0.8); */
    transform:rotateY(90deg) translateZ(100px);
    background-image: url("img/dice2.png");
    opacity: 0.8;
    filter: alpha(opacity=50);
    width: 100%;

    }
    #back{
    /* background-color:rgba(255,255,0,0.8); */
    transform:rotateY(180deg) translateZ(100px);
    background-image: url("img/dice3.png");
    opacity: 0.8;
    filter: alpha(opacity=50);
    width: 100%;

    }
    #left{
    /* background-color:rgba(255,0,255,0.8); */
    transform:rotateY(-90deg) translateZ(100px);
    background-image: url("img/dice4.png");
    background-size: cover; 
    width: 100%;

    opacity: 0.8;
    filter: alpha(opacity=50);
    }
    #top{
    /* background-color:rgba(255,0,0,0.8); */
    transform:rotateX(90deg) translateZ(100px);
    background-image: url("img/dice1.png");
    background-size: cover; 
    width: 100%;

    opacity: 0.8;
    filter: alpha(opacity=50);
    }
    #bottom{
    /* background-color:rgba(0,0,255,0.8); */
    transform:rotateX(-90deg) translateZ(100px);
    background-image: url("img/dice6.png");
    opacity: 0.8;
    filter: alpha(opacity=50);
    width: 100%;
    }

    /* below the settings for the click input but not the actions*/
    input[type="radio"]{
    transform:scale(2,2);
    margin:10px;
    }

    @media screen and (max-width: 800px) {
        .body {
          width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        }
      }
   
    